* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --header-height: 60px;
}
body {
  height: 400vh;
}
.header {
  align-items: stretch;
  justify-content: space-between;
  border: none;
  height: var(--header-height);
  display: grid;
  grid-template-columns: 1fr 76px 1fr;
  grid-template-rows: 100%;
  padding: 12px 4rem;
  border: none;
  transform: translateY(0);
  transition: 0.6s;
  position: fixed;
  width: 100%;
  top: 0;
}

.header div {
  height: 100%;
  width: 100%;
}
#load-bar {
  background-color: #161616;
  height: 2px;
  width: 100%;
}
